VITE_BACKEND_URL=http://localhost:8080

# firebase
VITE_FIREBASE_API_KEY="xxxxxxxxxxxxxxxxx"
VITE_FIREBASE_AUTH_DOMAIN="xxxxxxxxxxxxxxxxx"
VITE_FIREBASE_PROJECT_ID="xxxxxxxxxxxxxxxxx"
VITE_FIREBASE_APP_ID="xxxxxxxxxxxxxxxxx"

# mapbox
VITE_MAPBOX_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
VITE_MAPBOX_BASE_URL="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"