NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
NEXT_PUBLIC_DEFAULT_SALON_SLUG=glow
NEXT_PUBLIC_APP_NAME="Veloura"

# firebase
NEXT_PUBLIC_FIREBASE_API_KEY="xxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="xxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="xxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_APP_ID="xxxxxxxxxxxxxxxxx"

# mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_MAPBOX_BASE_URL="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
PORT=3001
APP_FORWARD_PORT=3001