.input {
  padding: 14px 12px;
  height: 100%;
}

.selectRoot {
  height: 40px;
}

.selectInput {
  height: 100%;
  padding: 10px 26px 10px 14px;
}

.label {
  top: -6px;
  width: calc(100% - 36px);
}

.selectIcon {
  right: 8px;
  position: absolute;
  color: var(--secondary-600);
}

.error {
  color: var(--error);
}

.disabledLabel {
  color: var(--secondary-400);
}

.menuItem{
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.menuPaper{
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.20), 0 9px 10px 0 rgba(0, 0, 0, 0.14), 0 5px 14px 0 rgba(0, 0, 0, 0.12);
}