.input {
  padding: 0px 12px;
  height: 40px;
}

.label {
  top: -6px;
  width: calc(100% - 45px);
}

.shrunkLabel {
  width: unset;
}

.disabledLabel {
  color: var(--secondary-400);
}

.datePickerInput {
  height: 40px;
}

.icon {
  color: var(--secondary-500);
}

.error {
  color: var(--error);
}

.disabledIcon {
  color: var(--secondary-400);
}
