.inputField {
    height: 40px;
    position: relative;
    padding-right: 420px;
    cursor: pointer;
    background-color: white;
}

.input {
    cursor: pointer;
    height: 40px;
    padding: 0 0 0 12px ;
    vertical-align: middle;
}

.inputRoot legend {
    width: 0;
}

.adornmentIconButton {
    position: absolute;
    right: 2px;
    padding: 10px;

    svg{
        font-size: 20px;
    }
}

.adornmentLoading {
    position: absolute;
    right: 12px;
}
